*.app
*.o
*.a
*.png
*.xcuserstate
Syphon.framework
Zone4Main/ofxSyphon/
*xcuserdata*
*.zip

.DS_Store

*.zip

Zone4Main/bin/data/images_/origin/crop.sh

Zone4Main/bin/data/images_/origin/layer.jpg

Zone4Main/bin/data/images_/origin/layer1.tiff

Zone4Main/src/_PanoApp.h

.svn/entries
